@media(max-width: 1200px){
  .home-content{
    display: block;
    margin: 0;
  }
  .home-text h1{
    background: rgba(11, 11, 11, 0.184) url(home-img.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px;
    color: #EEF0E5;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    text-shadow: 10px 2px 10px#163020;
  }
  .home-img{
    display: none;
  }

  .learnmore-button{
    background-color: #163020;
    color: #EEF0E5;
    cursor: pointer;
  }

  .learnmore-button:hover{
     background-color: #EEF0E5;
    color:  #163020;
    cursor: pointer;
  }

  /*AD*/
  .ad-content{
    padding: 4% 100px;
}


  /*ABOUT*/
   #about{
    width: auto;
   }
   .about-column{
    display: block;
   }
   .creator-content{
    display: block;
   }
   .about-container{
    margin: 20px 30px;
  }
  .author-container{
    align-items: center;
    justify-content: center;
  }


  .gallery-section .gallery-wrap .gallery-images{
    grid-template-columns: repeat(2, 1fr);
  } 

  /*HAIRCUTS*/
  .haircut-title{
    padding: 10px 100px;
  }

  .container {
    display: block;
  }

  .image-column{
    text-align: center;
  }
  .top10-img{
    width: 500px;
  }

  /*TIPS*/
  .tips-title{
    padding: 10px 60px;
  }

  .haircut-tips{
    margin: 40px 50px;
    padding-bottom: 50px;
}

}




@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menuButton{
    display: flex;
    }

  .home-content h1{
    height: 80vh;
  }

  .learnmore-button{
    font-size: 18px;
    margin-top: 50px;
  }

  /*ABOUT*/
  .about-container{
    margin: 0;
    padding: 20px 0;
  }

  /*AD*/
  .ad-content{
    padding: 30px 40px;
    align-items: center;
    justify-content: center;
  }

  .row {
    flex-direction: column;
}

  .ad{
  margin: 30px 0;
  }

  .ad-title{
  font-size: 20px;
  }

  .ad-column {
    flex: 0 0 calc(100% - 30px); 
    margin: 15px 20px; 
  }

  /*haircuts*/
  .haircut-title{
    padding: 10px 50px;
  }

  .gallery-section .gallery-wrap .gallery-images{
    grid-template-columns: repeat(4, 1fr);
  }
  .container{
    padding: 0;
    margin: 10px 30px;
  }

  .top10-img{
    width: 340px;
  }

   /*TIPS*/
   .tips-title{
    padding: 10px 20px;
  }

  .tips-intro{
    margin: 50px 20px;
  }

  .haircut-tips{
    margin: 40px 20px;
  }

  .hc-tips-content{
    padding: 20px 10px;
  }

  .tips-conclusion{
    margin: 50px 30px;
  }


  /*contact*/
  .contact-container{
    display: block;
  }

}


@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }

  .author-container{
    display: flex;
  }

  .column{
    padding: 0;
    padding-top: 20px;
  }

  .author-img{
    width: 200px;
  }

  .home-text

  /*AD*/
  .ad-content{
    padding: 0;
    margin: 0 10px;
  }

  .gallery-section .gallery-wrap .gallery-images{
    grid-template-columns: repeat(2, 1fr);
  }

  .container{
    padding: 0;
    margin: 10px 20px;
  }
  .top10-img{
    width: 250px;
  }

  .introduction{
    font-size: 25px;
    margin: 20px 30px;
  }
  .conclusion{
    font-size: 25px;
    margin: 20px 30px;
    padding-bottom: 40px;
    
  }

}
@media(max-width: 250px){
  .top10-img{
    width: 100px;
  }
}